@import '../../../variables.scss';
@import '../../../mixins.scss';

.gallery-folder__list {
  list-style: none;
}

.gallery-folder__list-item {
  margin-bottom: 4.8rem;
}

.gallery-folder__title {
  font-style: italic;
  margin-bottom: 1rem;
}

.gallery-folder__header {
  display: flex;
  flex-direction: column-reverse;

  @include tablet {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.gallery-folder__pagination-top {
  margin-left: auto;
  margin-bottom: 3rem;

  @include desktop-lg {
    margin-bottom: 0;
  }
}

.gallery-folder__pagination-top ::ng-deep .ngx-pagination {
  display: flex;
  justify-content: flex-end;
  width: 38rem;
}

.gallery-folder__photographer-icon {
  filter: $icon-color-dark-blue;
  height: 2.4rem;
}

.gallery-folder__photographer {
  display: flex;
  font-size: 2rem;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
  padding-left: 1rem;
}

.gallery-folder__images-wrapper {
  text-align: center;
}

.gallery-folder__image-container {
  border-radius: $border-radius-button;
  display: inline-block;
  height: 16rem;
  margin: 1rem;
  overflow: hidden;
  width: 16rem;
}

.gallery-folder__image {
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
  width: 100%;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.gallery-folder__image-vertical {
  height: auto;
}

.gallery-folder__pagination ::ng-deep .ngx-pagination {
  color: $color-grey-dark;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0;
  text-align: center;

  & li {
    margin: 0 1rem;

    &:hover :not(.current span) {
      background-color: $color-primary-lighter;
    }
  }

  & .current {
    background-color: $color-primary-dark;
    border-radius: $border-radius-round;
    color: $color-primary-lighter;
    height: 2.6rem;
    width: 2.6rem;
  }
}
