<div class="wrapper-container">
  @if (galleryItems$ | async; as galleryItems) {
    @if (galleryItems | isLoading) {
      <bvkz-loader></bvkz-loader>
    } @else {
      @if (galleryItems | hasError) {
        <p class="info">{{ 'BVKZ.GALLERY__COMPONENT.ERROR_MESSAGE' | translate }}</p>
      } @else {
        @if (galleryItems | hasResult) {
          <bvkz-gallery-folder [galleryItems]="galleryItems.data" (selectedImageId)="onImageSelected($event)"></bvkz-gallery-folder>
        }
      }
    }
  }
</div>
