.header__section {
  background-color: var(--color-primary-light);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 7.4rem;
  padding: 0 4.8rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-mobile {
  height: 100%;
}

.header__logo {
  align-self: center;
  display: flex;
  gap: 8px;
}

.header__logo-image {
  max-width: 4.5rem;
}

.header__logo-text {
  align-self: center;
  color: #444;
  font-size: 2.2rem;
  line-height: 2rem;
}

.header__logo-text span {
  display: block;
}

.header__navigation-list {
  align-self: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1.2rem 2.4rem;
}

.header__navigation-link:link,
.header__navigation-link:visited {
  color: var(--color-primary-dark);
  font-size: 2.4rem;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  transition: all 0.3s;
}

.header__navigation-link:hover,
.header__navigation-link:active {
  color: var(--color-primary-dark-darker);
}

.header__navigation-link-animation:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-primary-dark-darker);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header__navigation-link-animation:hover:after {
  left: 0;
  width: 100%;
}

.header__mobile-menu-icon {
  cursor: pointer;
  display: none;
  filter: invert(17%) sepia(31%) saturate(5667%) hue-rotate(198deg)
  brightness(97%) contrast(95%);
  height: 3.6rem;
  transition: all 0.3s;
}

.header__mobile-menu-icon :hover {
  filter: invert(18%) sepia(34%) saturate(4163%) hue-rotate(195deg)
    brightness(101%) contrast(96%);
}

.nav-list-mobile {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 80%;
  justify-content: center;
  list-style: none;
  padding: 4rem;
}

.nav-list-mobile .nav-link {
  font-size: 3.6rem;
}

/*Media queries*/

@media (max-width: 87em) {
  .header__section {
    padding: 0 3.2rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 78em) {
  .header__section {
    grid-template-columns: 2fr 3fr;
    padding: 0 2rem 0 3.2rem;
  }
}

@media (max-width: 56em) {
  .header__section {
    padding: 0 1rem 0 3.2rem;
  }
}

@media (max-width: 48em) {
  .header__mobile-menu-icon {
    display: flex;
    justify-self: end;
  }

  .header__section {
    padding-right: 4.8rem;
  }

  .nav-list {
    display: none;
  }}
