@use '../../../variables.scss';
@use '../../../mixins.scss';

.concerts-upcoming__icons-container {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin-top: auto;
  padding-right: 2rem;

  @include mixins.tablet {
    padding-right: 0;
  }
}

.concerts-upcoming__icon {
  filter: variables.$icon-color-dark-blue;
  height: 3.2rem;
  transition: all 0.3s;
}

.concerts-upcoming__icon:hover {
  cursor: pointer;
  filter: variables.$icon-color-dark-blue-hover;
  transform: scale(1.05);
}
