<app-hero-section></app-hero-section>

<div class="wrapper-container">
  <section class="aboutus__section" aria-labelledby="home-container-title">
    <h1 class="primary-heading" id="home-container-title">Zenekarunkról</h1>
    <div class="aboutus__container">
      <div class="aboutus__text-container">
        <p class="info">
          Zenekarunk 2008-ban alakult, akkor még jórészt egyetemista
          fiatalokból. Az együttes tagjai ma már többségében felnőtt, dolgozó
          emberek, akik munkahelyi és családi elfoglaltságaik ellenére komolyan
          elköteleződtek a zenekar és a kamarazenélés mellett.
        </p>

        <p class="info">
          Művészeti vezetőnk Héja Benedek, zenetanár, karmester, zeneszerző.
          Zenekarunk repertoárja elsősorban barokk és klasszikus, alkalmanként
          romantikus és kortárs darabokból áll. Bár főként vonószenekarra írott
          műveket játszunk, szívesen tűzünk műsorra különféle versenyműveket és
          oratóriumokat is.
        </p>
        <button class="aboutus__button-more-info">Több</button>
        <p class="info aboutus__text-to-hide hidden">
          Az elmúlt években több olyan közismert, nagy művet is
          megszólaltattunk, mint Bach János- és Máté- passiója, Mozart
          Requiemje, Dvořák Újvilág szimfóniája vagy Beethoven 7. szimfóniája,
          de előszeretettel válogatunk olyan kevésbé ismert zeneszerzők műveiből
          is, mint William Herschel, Ralph Vaughan Williams, Ottorino Respighi
          vagy Dohnányi Ernő.
        </p>
        <p class="info aboutus__text-to-hide hidden">
          A Budavári Kamarazenekar nevét a próbák és a koncertek többségének
          kezdetben helyet adó városrészről kapta, ám jelenleg Óbudán, az Árpád
          Gimnáziumban próbálunk. Évente nyolc-tíz koncertet adunk fővárosi,
          alkalmanként vidéki helyszíneken, nyári táborunkat pedig minden évben
          Keszthelyen tartjuk.
        </p>
        <button class="aboutus__button-less-info hidden">Kevesebb</button>
      </div>
      <div class="aboutus__gallery-container">
        <picture
          class="aboutus__image-container"
          *ngFor="let image of imageItems; trackBy: trackByIndex"
        >
          <img
            class="img aboutus__image"
            [src]="imagesRoute + image.source"
            [alt]="image.alt"
          />
        </picture>
      </div>
    </div>
  </section>
  <app-testimonials></app-testimonials>
  <app-part-cart></app-part-cart>
</div>
