.aboutus__section {
  padding: 5.2rem 0 0 0;
}

/* todo: ez bizony about-us__container */
.aboutus__container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.aboutus__text-container {
  padding: 2.4rem;
}

.aboutus__text-to-hide.hidden {
  display: inline-block;
}

.aboutus__button-more-info,
.aboutus__button-less-info {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary-dark);
  display: none;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}

.aboutus__button-more-info:hover,
.aboutus__button-less-info:hover {
  color: var(--color-primary-dark-darker);
  text-decoration: underline;
}

.aboutus__gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 6.4rem 2rem;
}

.aboutus__image-container {
  max-width: 20rem;
  max-height: 17rem;
  border-radius: 8px;
  overflow: hidden;
}

.aboutus__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 48em) {
  .aboutus__button-less-info,
  .aboutus__button-more-info {
    display: inline-block;
  }
  .aboutus__button-less-info.hidden,
  .aboutus__button-more-info.hidden {
    display: none;
  }
}
