@import '../../../mixins.scss';

.soloists-and-ex-members__section {
  display: block;
  margin: 0 auto;
  max-width: 28rem;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: start;
    max-width: none;
  }
}

.soloists__container {
  grid-column: 2/5;
  margin-bottom: 3.2rem;
}

.ex-members__container {
  grid-column: 5/-1;
  margin-bottom: 3.2rem;
}

.soloists__list,
.ex-members__list {
  font-size: 2rem;
  line-height: 3rem;
  list-style: none;
  margin: 2rem 0;
}
