<app-hero-section></app-hero-section>

<div class="wrapper-container">
  <div class="aboutus__text">
    <p class="info">
      Zenekarunk 2008-ban alakult, akkor még jórészt egyetemista fiatalokból. Az
      együttes tagjai ma már többségében felnőtt, dolgozó emberek, akik
      munkahelyi és családi elfoglaltságaik ellenére komolyan elköteleződtek a
      zenekar és a kamarazenélés mellett.

      <br /><br />Művészeti vezetőnk Héja Benedek, zenetanár, karmester,
      zeneszerző. Zenekarunk repertoárja elsősorban barokk és klasszikus,
      alkalmanként romantikus és kortárs darabokból áll. Bár főként
      vonószenekarra írott műveket játszunk, szívesen tűzünk műsorra különféle
      versenyműveket és oratóriumokat is.
    </p>
    <button class="btn button__more-info">Több</button>
    <p class="info aboutus__text-to-hide hidden">
      Az elmúlt években több olyan közismert, nagy művet is megszólaltattunk,
      mint Bach János- és Máté- passiója, Mozart Requiemje, Dvořák Újvilág
      szimfóniája vagy Beethoven 7. szimfóniája, de előszeretettel válogatunk
      olyan kevésbé ismert zeneszerzők műveiből is, mint William Herschel, Ralph
      Vaughan Williams, Ottorino Respighi vagy Dohnányi Ernő.<br /><br />
      A Budavári Kamarazenekar nevét a próbák és a koncertek többségének
      kezdetben helyet adó városrészről kapta, ám jelenleg Óbudán, az Árpád
      Gimnáziumban próbálunk. Évente nyolc-tíz koncertet adunk fővárosi,
      alkalmanként vidéki helyszíneken, nyári táborukat pedig minden évben
      Keszthelyen tartjuk.
    </p>
    <button class="btn button__less-info hidden">Kevesebb</button>
  </div>
</div>
