<bvkz-hero-section></bvkz-hero-section>

<div class="wrapper-container">
  <bvkz-about-us></bvkz-about-us>
  <bvkz-testimonials></bvkz-testimonials>
  <bvkz-members> </bvkz-members>

  <section class="soloists-and-ex-members__section">
    <div class="soloists__container">
      <bvkz-accordion [buttonName]="'Szólistáink voltak'">
        <ul class="soloists__list">
          <li *ngFor="let member of soloists">{{ member.name }} ({{ member.instrument }})</li>
        </ul>
      </bvkz-accordion>
    </div>
    <div class="ex-members__container">
      <bvkz-accordion [buttonName]="'Korábbi tagjaink'">
        <ul class="ex-members__list">
          <li *ngFor="let member of exMembers">{{ member.name }} ({{ member.instrument }})</li>
        </ul>
      </bvkz-accordion>
    </div>
  </section>
</div>
