<div class="wrapper-container">
  <bvkz-concerts-upcoming (selectedInviteSource)="onOpenInviteDialog($event)"></bvkz-concerts-upcoming>

  <section>
    <h2 class="secondary-heading">{{ 'BVKZ.CONCERTS__COMPONENT.CONCERTS__COMPONENT_PREVIOUS_CONCERTS_TITLE' | translate }}</h2>

    <ng-container *ngIf="previousConcert$ | async as previousConcert">
      <bvkz-loader *ngIf="previousConcert | isLoading; else content"></bvkz-loader>

      <ng-template #content>
        <ng-container *ngIf="previousConcert | hasError; else loadedContent">
          <p class="info">{{ 'BVKZ.CONCERTS__COMPONENT.CONCERTS__COMPONENT_PREVIOUS_CONCERTS_ERROR' | translate }}</p>
        </ng-container>
      </ng-template>

      <ng-template #loadedContent>
        <ng-container *ngIf="previousConcert | hasResult">
          <bvkz-concerts-previous (video)="onPlay($event)" [concertsPreviousItems]="previousConcert.data"></bvkz-concerts-previous>
        </ng-container>
      </ng-template>
    </ng-container>
  </section>
</div>
