<div class="concert-upcoming__container" [ngClass]="{ 'concert-upcoming__container-reverse': concertIndex() % 2 === 0 }">
  <picture class="concert-upcoming__image-container">
    <img class="concert-upcoming__image" [src]="IMAGES_UPLOADS_ROUTE + concert().ImageSource" alt="concert-cover" />
    <bvkz-countdown [dateTo]="concert().ConcertDate"></bvkz-countdown>
  </picture>
  <div class="concert-upcoming__text">
    <p class="concert-upcoming__text-title">{{ concert().Title }}</p>
    <p class="concert-upcoming__text-description" [innerHTML]="concert().Description"></p>
    <p class="concert-upcoming__text-date">{{ concert().ConcertDate | date: 'medium' }}</p>
    <p class="concert-upcoming__text-place">{{ concert().Location }}</p>
    <bvkz-concert-upcoming-icons
      [concertActual]="concert()"
      (selectedInviteSource)="onOpenInviteDialog($event)"
    ></bvkz-concert-upcoming-icons>
  </div>
</div>
