<section class="members__section">
  <h2 class="secondary-heading">Tagjaink</h2>
  <div class="members__carts-container">
    <div
      class="members__cart"
      *ngFor="let cart of membersPartItems"
      [ngClass]="{ 'members__cart-middle': cart.isMiddleCart }"
    >
      <div class="members__image-container">
        <img
          class="members-cart__image"
          [src]="imagesRoute + cart.imageSource"
          alt="{{ cart.altText }}"
        />
      </div>
      <ul class="members__list">
        <li class="members__list-item" *ngFor="let member of cart.members">
          {{ member.memberName }}
        </li>
      </ul>
      <p class="part">{{ cart.partName }}</p>
    </div>
  </div>
</section>
