<div *ngIf="countdownResult$ | async as countdownResult" class="countdown">
  <img class="countdown__icon" [src]="'clock-regular' | iconItem" [alt]="'BVKZ.COUNTDOWN__COMPONENT.COUNTDOWN_ICON_ALT' | translate" />
  <span class="countdown__container">
    <div class="countdown__item">
      <p class="countdown__number countdown__days">{{ countdownResult.days }}</p>
      <p class="countdown__text">{{ 'BVKZ.COUNTDOWN__COMPONENT.COUNTDOWN_DAY' | translate }}</p>
    </div>
    <div class="countdown__item">
      <p class="countdown__number countdown__hours">{{ countdownResult.hours }}</p>
      <p class="countdown__text">{{ 'BVKZ.COUNTDOWN__COMPONENT.COUNTDOWN_HOUR' | translate }}</p>
    </div>
    <div class="countdown__item">
      <p class="countdown__number countdown__minutes">{{ countdownResult.minutes }}</p>
      <p class="countdown__text">{{ 'BVKZ.COUNTDOWN__COMPONENT.COUNTDOWN_MINUTE' | translate }}</p>
    </div>
    <div class="countdown__item">
      <p class="countdown__number countdown__seconds">{{ countdownResult.seconds }}</p>
      <p class="countdown__text">{{ 'BVKZ.COUNTDOWN__COMPONENT.COUNTDOWN_SECOND' | translate }}</p>
    </div></span
  >
</div>
