@import '../../../variables.scss';
@import '../../../mixins.scss';

.hero__section {
  height: 35rem;
  max-width: 100%;
  position: relative;
  width: auto;

  @include tablet {
    height: 50rem;
  }
}

.hero__carousel-track {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hero__slide {
  height: 100%;
  position: absolute;
  transition: all 1s;
  width: 100%;
}

.hero__slide-image {
  width: 100%;
}

.hero__text-container {
  background-color: $color-primary-light-transparent-much;
  border-radius: $border-radius-basic;
  display: flex;
  flex-direction: row;
  max-width: 53rem;
  padding: 2rem;
  position: absolute;
  right: 0;
  text-align: right;
  bottom: 0;
  transform: translate(-1.2rem, -1.2rem);
  gap: 2rem;
  align-items: center;

  @include tablet {
    flex-direction: column;
    gap: 0;
    align-items: end;
  }
}

.hero__text-title {
  font-size: 2rem;
  font-weight: 700;

  @include tablet {
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
  }
}

.hero__text-content {
  font-size: 2rem;
  line-height: 2.8rem;
  display: none;

  @include tablet {
    display: inline-block;
  }
}

.hero__navigation-button {
  -webkit-transition: 0.3s background-color linear;
  background-color: $color-primary-dark;
  border: none;
  border-radius: $border-radius-button;
  color: $color-primary-light;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: auto;
  padding: 0.8rem 1.4rem;
  transition: all 0.3s;

  @include tablet {
    display: none;
  }
}

.hero__navigation-button:hover {
  background-color: $color-primary-dark-darker;
}

.hero__carousel-navigation-dots-container {
  bottom: 0;
  display: flex;
  gap: 1.2rem;
  padding: 10px 0;
  position: absolute;
  right: 50%;
  transform: translate(50%, 100%);
}

.hero__carousel-navigation-dot {
  background: rgba(0, 0, 0, 0.3);
  border-radius: $border-radius-round;
  border: 0;
  cursor: pointer;
  height: 12px;
  width: 12px;
}

.hero__carousel-navigation-dot.active-navigation-dot {
  background: rgba(0, 0, 0, 0.75);
}
