<section class="hero__section">
  <div class="hero__carousel-track">
    <div class="hero__slide hero__slide1">
      <picture>
        <source media="(min-width:1024px)" [srcset]="imagesRoute + 'slide2-full.webp'" />
        <source media="(min-width:768px)" [srcset]="imagesRoute + 'slide2.webp'" />
        <img class="hero__slide-image" [src]="imagesRoute + 'slide2-mobile.webp'" />
      </picture>
      <div class="hero__text-container hero__text-container">
        <p class="hero__text-title">{{ 'BVKZ.HERO__COMPONENT.HERO_1__TITLE' | translate }}</p>
        <p class="hero__text-content">
          {{ 'BVKZ.HERO__COMPONENT.HERO_1__TEXT' | translate }}
        </p>
        <button class="hero__navigation-button">{{ 'BVKZ.NAVIGATION__LINKS.GALLERY' | translate }}</button>
      </div>
    </div>
    <!-- <div class="hero__slide hero__slide2 hidden">
      <div class="hero__text-container hero__text-container2">
        <p class="hero__text-title">Karácsonyi koncert</p>
        <p class="hero__text-content">
          A koncerten készült fényképek már elérhetőek galériánkban, a felvételek pedig youtube csatornánkon.
        </p>
        <a href="#" data-target="gallery" class="nav-link btn hero-btn-to-hide">Galéria</a>
      </div>
    </div> -->
  </div>

  <div class="hero__carousel-navigation-dots-container">
    <button class="hero__carousel-navigation-dot active-navigation-dot" data-number="0"></button>
    <button class="hero__carousel-navigation-dot" data-number="1"></button>
  </div>
</section>
