<section class="hero-section__carousel-container">
  <mat-carousel
    timings="700ms ease-in"
    [autoplay]="true"
    [interval]="10000"
    color="accent"
    [maintainAspectRatio]="false"
    [slides]="2"
    [hideArrows]="true"
    [hideIndicators]="false"
    [useKeyboard]="true"
  >
    <mat-carousel-slide *ngFor="let slide of heroCarouselItems; trackBy: trackByIndex">
      <div class="hero-section__carousel-slide">
        <picture>
          <source media="(min-width:1024px)" [srcset]="imagesRoute + slide.imageDesktopSource" />
          <source media="(min-width:768px)" [srcset]="imagesRoute + slide.imageTabletSource" />
          <img class="hero-section__carousel-slide-image" [src]="imagesRoute + slide.imageDesktopSource" />
        </picture>
        <div class="hero-section__carousel-text-container">
          <p class="hero-section__carousel-text-title">{{ slide.slideTitle | translate }}</p>
          <p class="hero-section__carousel-text-content">
            {{ slide.slideText | translate }}
          </p>
          <a class="hero-section__carousel-navigation-button" [routerLink]="slide.navigateTo">
            {{ slide.button | translate }}
          </a>
        </div>
      </div>
    </mat-carousel-slide>
  </mat-carousel>
</section>
