.hero__section {
  height: 50rem;
  max-width: 100%;
  position: relative;
  width: auto;
}

.hero__carousel-track {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hero__slide {
  background-position: center bottom;
  background-size: cover;
  height: 100%;
  position: absolute;
  transition: all 1s;
  width: 100%;
}

.hero__slide1 {
  background-image: linear-gradient(
      rgba(66, 122, 161, 0.3),
      rgba(66, 122, 161, 0.05)
    ),
    url(../../../assets/images/slide001.jpg);
  background-position: top left;
}

.hero__slide2 {
  background-image: linear-gradient(rgba(3, 3, 3, 0.1), rgba(3, 3, 3, 0.2)),
    url(../../../assets/images/slide2.webp);
}

.hero__text-container {
  background-color: var(--color-primary-light-transparent-much);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  padding: 2.4rem;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  transform: translate(-4.8rem, 2.4rem);
}

.hero__slide .hero__text-container2 {
  font-size: 1.8rem;
  left: 0;
  max-width: 32rem;
  padding: 1.2rem;
  top: 0;
  transform: translate(2.4rem, 1.2rem);
}

.hero__text-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.nav-link.btn,
.btn-hero:link,
.btn-hero:visited {
  -webkit-transition: 0.3s background-color linear;
  background-color: var(--color-primary-dark);
  border-radius: 5px;
  color: var(--color-primary-light);
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: auto;
  padding: 0.8rem 1.4rem;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link.btn:hover,
.btn-hero:hover {
  background-color: var(--color-primary-dark-darker);
}

.hero-btn-to-hide {
  display: none;
}

.hero__carousel-navigation-dots-container {
  bottom: 0;
  display: flex;
  gap: 1.2rem;
  padding: 10px 0;
  position: absolute;
  right: 50%;
  transform: translate(50%, 100%);
}

.hero__carousel-navigation-dot {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  height: 12px;
  width: 12px;
}

.hero__carousel-navigation-dot.active-navigation-dot {
  background: rgba(0, 0, 0, 0.75);
}

/*Media queries*/


@media (max-width: 107em) {
  .hero__slide2 {
    background-image: linear-gradient(rgba(3, 3, 3, 0.1), rgba(3, 3, 3, 0.2)),
      url(../../../assets/images/slide02-107.webp);
  }

  .hero__text-container {
    max-width: 40rem;
  }

  .hero__slide .hero__text-container2 {
    max-width: 30rem;
  }
}

@media (max-width: 87em) {
  .hero__slide2 {
    background-image: linear-gradient(rgba(3, 3, 3, 0.1), rgba(3, 3, 3, 0.2)),
      url(../../../assets/images/slide02-87.webp);
  }

  .hero__slide .hero__text-container2 {
    top: auto;
    bottom: 0;
    left: 0;
    transform: translate(2.4rem, -2.4rem);
    padding: 2.4rem;
    font-size: 2rem;
    max-width: 35rem;
  }
}

@media (max-width: 65em) {
  .hero__slide2 {
    background-image: linear-gradient(rgba(3, 3, 3, 0.1), rgba(3, 3, 3, 0.2)),
      url(../../../assets/images/slide02-65.webp);
  }
}

@media (max-width: 56em) {
  .hero__text-container {
    max-width: 32rem;
  }

  .hero__slide2 {
    background-image: linear-gradient(rgba(3, 3, 3, 0.1), rgba(3, 3, 3, 0.2)),
      url(../../../assets/images/slide02-56.webp);
    background-position: top;
  }
}
