<section class="hero__section">
  <div class="hero__carousel-track">
    <div class="hero__slide hero__slide1">
      <div class="hero__text-container hero__text-container">
        <p class="hero__text-title">Gyermekkoncertek</p>
        <p class="hero__text-content info">
          Idén januárban 6 év kihagyás után, a legkisebbek és családjaik örömére, újra két gyermekkoncertet tartunk.<br /><br />Vidám
          ismerkedés a komolyzenével, közös énekléssel, mondókázással, hangszersimogatással.
        </p>
        <a href="#" data-target="concerts" class="nav-link btn">Koncertek</a>
      </div>
    </div>
    <div class="hero__slide hero__slide2 hidden">
      <div class="hero__text-container hero__text-container2">
        <p class="hero__text-title">Karácsonyi koncert</p>
        <p class="hero__text-content">
          A koncerten készült fényképek már elérhetőek galériánkban, a felvételek pedig youtube csatornánkon.
        </p>
        <a href="#" data-target="gallery" class="nav-link btn hero-btn-to-hide">Galéria</a>
      </div>
    </div>
  </div>

  <div class="hero__carousel-navigation-dots-container">
    <button class="hero__carousel-navigation-dot active-navigation-dot" data-number="0"></button>
    <button class="hero__carousel-navigation-dot" data-number="1"></button>
  </div>
</section>
