<section class="member-dialog__section custom-dialog-container">
  <div class="member-dialog__container">
    <picture class="member-dialog__image-container">
      <img class="member-dialog__image" [src]="membersImagesRoute + data.imageSource + '.webp'" [alt]="data.name" />
    </picture>
    <p mat-dialog-content class="member-dialog__description removePanelClass">{{ data.description }}</p>
  </div>

  <img mat-dialog-close class="member-dialog__close-button" [src]="iconsRoute + 'square-xmark.svg'" alt="bezáró gomb" />
</section>
