<section class="about-us__section" aria-labelledby="home-container-title">
  <h1 class="primary-heading" id="home-container-title">Zenekarunkról</h1>

  <div class="about-us__container">
    <div class="about-us__text-container">
      <p class="info">
        Zenekarunk 2008-ban alakult, akkor még jórészt egyetemista fiatalokból.
        Az együttes tagjai ma már többségében felnőtt, dolgozó emberek, akik
        munkahelyi és családi elfoglaltságaik ellenére komolyan elköteleződtek a
        zenekar és a kamarazenélés mellett.
      </p>

      <p class="info">
        Művészeti vezetőnk Héja Benedek, zenetanár, karmester, zeneszerző.
        Zenekarunk repertoárja elsősorban barokk és klasszikus, alkalmanként
        romantikus és kortárs darabokból áll. Bár főként vonószenekarra írott
        műveket játszunk, szívesen tűzünk műsorra különféle versenyműveket és
        oratóriumokat is.
      </p>
      <button class="about-us__button-more-info">Több</button>
      <p class="info about-us__text-to-hide hidden">
        Az elmúlt években több olyan közismert, nagy művet is about-us, mint
        Bach János- és Máté- passiója, Mozart Requiemje, Dvořák Újvilág
        szimfóniája vagy Beethoven 7. szimfóniája, de előszeretettel válogatunk
        olyan kevésbé ismert zeneszerzők műveiből is, mint William Herschel,
        Ralph Vaughan Williams, Ottorino Respighi vagy Dohnányi Ernő.
      </p>
      <p class="info about-us__text-to-hide hidden">
        A Budavári Kamarazenekar nevét a próbák és a koncertek többségének
        kezdetben helyet adó városrészről kapta, ám jelenleg Óbudán, az Árpád
        Gimnáziumban próbálunk. Évente nyolc-tíz koncertet adunk fővárosi,
        alkalmanként vidéki helyszíneken, nyári táborunkat pedig minden évben
        Keszthelyen tartjuk.
      </p>
      <button class="about-us__button-less-info hidden">Kevesebb</button>
    </div>
    <div class="about-us__gallery-container">
      <picture
        class="about-us__image-container"
        *ngFor="let image of imageItems; trackBy: trackByIndex"
      >
        <img
          class="img about-us__image"
          [src]="imagesRoute + image.source"
          [alt]="image.alt"
        />
      </picture>
    </div>
  </div>
</section>
