@import '../../../variables.scss';
@import '../../../mixins.scss';

.about-us__section {
  padding: 5.2rem 0 0 0;
}

.about-us__container {
  display: grid;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: 3fr 1fr;
  }
}

.about-us__text-container {
  padding: 2.4rem;
}

.about-us__text-to-hide {
  display: none;

  @include tablet {
    display: inline-block;
  }
}

.about-us__accordion {
  display: inline-block;

  @include tablet {
    display: none;
  }
}

.about-us__gallery-container {
  display: none;
  padding: 3.2rem 2rem 7.2rem 2rem;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include desktop {
    padding: 0 0 6.4rem 2rem;
  }
}

.about-us__image-container {
  border-radius: $border-radius-basic;
  max-height: 12rem;
  max-width: 13rem;
  overflow: hidden;

  @include tablet {
    max-height: 18rem;
    max-width: 20rem;
  }

  @include desktop-lg {
    max-height: 17rem;
    max-width: 20rem;
  }
}

.about-us__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
