<div class="wrapper-container">
  <h2 class="primary-heading">{{ 'BVKZ.RECORDS__COMPONENT.RECORDS__HEADING' | translate }}</h2>
  <div class="records__container" *ngFor="let record of recordItems; trackBy: trackByIndex">
    <h2 class="secondary-heading">{{ record.recordTitle }}</h2>
    <div class="records__information">
      <img class="records__image" [src]="imagesRoute + record.coverImageSource" [alt]="record.coverImageAltText" />
      <p class="info records__description">{{ record.description }}</p>
    </div>
    <ul class="records__audio-container">
      <bvkz-records-audio
        *ngFor="let audio of record.tracks; trackBy: trackByIndex"
        [track]="audio"
        [album]="record.albumId"
        (audio)="onPlay($event)"
      ></bvkz-records-audio>
    </ul>
  </div>
</div>
