<div class="wrapper-container">
  <h1 class="primary-heading">{{ 'BVKZ.RECORDS__COMPONENT.RECORDS__HEADING' | translate }}</h1>
  @if (recordItems$ | async; as recordItems) {
    @if (recordItems | isLoading) {
      <bvkz-loader></bvkz-loader>
    } @else {
      @if (recordItems | hasError) {
        <p class="info">{{ 'BVKZ.RECORDS__COMPONENT.ERROR_TEXT' | translate }}</p>
      } @else {
        @if (recordItems | hasResult) {
          @for (record of recordItems.data; track record) {
            <div class="records__container">
              <h2 class="secondary-heading">{{ record.recordTitle }}</h2>
              <div class="records-container__information">
                <img
                  class="records-container__image"
                  [src]="record.coverImageSource | imageItem"
                  [alt]="record.coverImageAltText | translate"
                  />
                <p class="info records-container__description">{{ record.description }}</p>
              </div>
              <ul class="records-container__audio-container">
                @for (audio of record.tracks; track audio) {
                  <bvkz-records-audio
                    [track]="audio"
                    [album]="record.albumId"
                    (audio)="onPlay($event)"
                  ></bvkz-records-audio>
                }
              </ul>
            </div>
          }
        }
      }
    }
  }
</div>
