<section class="concert-upcoming__section">
  <h2 class="primary-heading">{{ 'BVKZ.CONCERTS__COMPONENT.CONCERTS_TITLE' | translate }}</h2>
  <ng-container *ngFor="let concert of concertsUpcomingItems; let i = index; trackBy: trackByIndex">
    <div *ngIf="i !== nonvisibleConcertIndex" class="concert-upcoming__container">
      <picture class="concert-upcoming__image-container">
        <source media="(min-width:768px)" [srcset]="imagesRoute + concert.imageDesktopSource" />
        <img class="concert-upcoming__image" [src]="imagesRoute + concert.imageMobileSource" />
        <bvkz-countdown [dateTo]="concert.dateCode" [index]="i" (isConcertVisible)="isConcertVisible($event)"></bvkz-countdown>
      </picture>
      <div class="concert-upcoming__text">
        <p class="concert-upcoming__text-title">{{ concert.title }}</p>
        <p class="concert-upcoming__text-description">{{ concert.description }}</p>
        <p class="concert-upcoming__text-date">{{ concert.date }}</p>
        <p class="concert-upcoming__text-place">{{ concert.place }}</p>
        <div class="concerts-upcoming__icons-container">
          <ng-container *ngFor="let icon of concertUpcomingIcons; trackBy: trackByIndex">
            <a
              *ngIf="concert[icon.concertUpcomingItemLineIdentifier]"
              [title]="icon.iconHoverText"
              target="_blank"
              [href]="concert[icon.concertUpcomingItemLineIdentifier]"
            >
              <img class="concerts-upcoming__icon" [src]="iconsRoute + icon.iconSource" [alt]="icon.iconImageAltText"
            /></a>
            <span
              *ngIf="concert.inviteImageSource"
              [title]="'BVKZ.CONCERTS__COMPONENT.CONCERTS_UPCOMING__INVITE' | translate"
              class="invite"
              ><img
                class="concerts-upcoming__icons"
                [src]="iconsRoute + 'music-solid.svg'"
                [alt]="'BVKZ.CONCERTS__COMPONENT.CONCERTS_UPCOMING__INVITE_ICON' | translate"
            /></span>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</section>
