<section class="members__section">
  <h2 class="secondary-heading">{{ 'BVKZ.MEMBERS__COMPONENT.MEMBERS__TITLE' | translate }}</h2>
  <div class="members__carts-container">
    <div
      class="members__cart"
      *ngFor="let cart of membersPartItems; trackBy: trackByIndex"
      [ngClass]="{ 'members__cart-middle': cart.isMiddleCart }"
    >
      <div class="members__image-container">
        <img class="members__cart-image" [src]="imagesRoute + cart.imageSource" [alt]="cart.altTranslationKey | translate" />
      </div>
      <ul class="members__list">
        <li
          class="members__list-item"
          *ngFor="let member of cart.members; trackBy: trackByIndex"
          (click)="onMemberSelected(member.memberId)"
        >
          {{ member.memberName }}
          <img
            *ngIf="member.isOnGyes"
            class="members__gyes-icon"
            [src]="'baby-carriage-solid' | iconItem"
            [alt]="'BVKZ.MEMBERS__COMPONENT.MEMBERS__STROLLER_ICON' | translate"
          />
        </li>
      </ul>
      <p class="members__cart-part-sign">{{ 'BVKZ.PART_TYPES.' + cart.partName | translate }}</p>
    </div>
  </div>
</section>
