@import '../../../variables.scss';
@import '../../../mixins.scss';

.members__section {
  margin: 6rem 0;
}

.members__carts-container {
  column-gap: 3.2rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4.8rem;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
}

.members__cart {
  border-radius: $border-radius-basic;
  box-shadow: $box-shadow-small;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-self: center;
  max-width: 35rem;
  position: relative;

  @include desktop-xl {
    flex-direction: row;
    gap: 2rem;
    justify-self: stretch;
    max-width: none;
  }
}

.members__cart-middle {
  grid-column: 1/-1;
  margin: 0 auto;

  @include desktop-xl {
    min-width: 60rem;
  }
}

.members__cart-part-sign {
  background-color: $color-primary-dark;
  border-radius: 50px;
  box-shadow: $box-shadow-small;
  color: $color-primary-dark-lighter;
  font-size: 1.7rem;
  padding: 0.8rem 1.2rem;
  position: absolute;
  right: 0;
  transform: translate(3rem, -2rem);

  @include tablet {
    font-size: 1.4rem;
    transform: translate(3rem, -1.5rem);
  }
  @include desktop-xl {
    transform: translate(2rem, -1rem);
  }
}

.members__image-container {
  max-height: 20rem;
  max-width: 100%;

  @include desktop-xl {
    max-height: 35rem;
    max-width: 30rem;
  }
}

.members__cart-image {
  border-radius: 8px 8px 0 0;
  height: 100%;
  object-fit: cover;
  object-position: top;
  width: 100%;

  @include desktop-xl {
    border-radius: 8px 0 0 8px;
  }
}

.members__list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.6rem 1.6rem 3.2rem 4rem;

  @include desktop-xl {
    gap: 0.8rem;
    padding: 1.6rem 0;
  }
}

.members__list-item {
  color: $color-grey-dark;
  cursor: pointer;
  font-size: 2rem;
  list-style: none;
  position: relative;
  transition: all 0.35s;
}

.members__list-item:after {
  background: none repeat scroll 0 0 transparent;
  background: $color-primary-dark;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.members__list-item:hover:after {
  left: 0;
  width: 100%;
}

.members__gyes-icon {
  height: 1.8rem;
  filter: $icon-color-dark-blue;
  transform: scaleX(-1);
}
