@import '../../../variables.scss';
@import '../../../mixins.scss';

.join-us__image {
  border-radius: $border-radius-basic;
  display: flex;
  margin: 0 auto;
  width: 90%;

  @include tablet {
    width: 80%;
  }
}
