<li class="records-audio__list-item">n
  <p class="records-audio__title">
    {{ track.audioTitle
    }}<span class="records-audio__soloist" *ngIf="track.soloistName"
      >{{ 'BVKZ.RECORDS__COMPONENT.RECORDS__SOLOIST' | translate }}: {{ track.soloistName }}</span
    >
  </p>

  <audio
    #audio
    class="records-audio__music"
    controlsList="nodownload noplaybackrate"
    preload="none"
    controls
    [src]="album | recordsAudioSource : track.trackSource"
    (play)="onPlay(audio)"
  ></audio>
</li>
