<section class="testimonials__section-desktop" aria-label="Rólunk mondták">
  <div class="testimonials__carousel-track">
    <div
      class="testimonials__cart-desktop"
      *ngFor="let testimonial of testimonialItems; trackBy: trackByIndex"
    >
      <div class="testimonials__content">
        <div class="testimonials__image-container">
          <img
            class="testimonials__image"
            [src]="imagesRoute + testimonial.imageSource"
            [alt]="testimonial.name"
          />
        </div>
        <blockquote class="testimonials__text-info info">
          {{ testimonial.testimonial }}
        </blockquote>
        <p class="testimonials__signature">
          {{ testimonial.name }}, {{ testimonial.profession }}
        </p>
      </div>
      <img
        class="testimonials__quotation-icon"
        [src]="iconsRoute + 'quote-right.svg'"
        alt="quotation mark"
      />
    </div>
  </div>

  <ng-container *ngIf="testimonialItems.length > 1">
    <img
      class="testimonials__arrow testimonials__arrow-left disabled"
      [src]="iconsRoute + 'chevron-left-solid.svg'"
      alt="arrow to the left"
    />
    <img
      class="testimonials__arrow testimonials__arrow-right"
      [src]="iconsRoute + 'chevron-right-solid.svg'"
      alt="arrow to the right"
    />
    <div class="testimonials__carousel-navigation">
      <button
        *ngFor="let dot of testimonialItems; index as i"
        class="testimonials__carousel-navigation-dot active-navigation-dot"
        (click)="onDotSelectClick(i)"
      ></button>
    </div>
  </ng-container>
</section>

<section class="testimonials__section-mobile">
  <div class="testimonials-container-mobile">
    <div
      class="testimonials__cart-mobile"
      *ngFor="let testimonial of testimonialItems"
    >
      <div class="testimonials__image-container">
        <img
          class="img testimonials__image"
          [src]="imagesRoute + testimonial.imageSource"
          [alt]="testimonial.name"
        />
      </div>
      <blockquote class="info testimonials__mobile-text">
        {{ testimonial.testimonial }}
      </blockquote>
      <p class="testimonials__signature">{{ testimonial.profession }}</p>
      <img
        class="testimonials__quotation-icon"
        [src]="iconsRoute + 'quote-right.svg'"
        alt="quotation mark"
      />
    </div>
  </div>
</section>
