<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect HTTP to HTTPS és www
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteRule ^(.*)$ https://www.budavarikamarazenekar.hu/$1 [L,R=301]

    # API útvonalak kizárása (minden /api/bvkz/ alatti hívás)
    RewriteCond %{REQUEST_URI} ^/api/bvkz/ [NC]
    RewriteRule ^ - [L]

    # Angular frontend kezelése
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>