/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: $color-primary-dark-lighter;
}

.wrapper-container {
  max-width: 130rem;
  margin: 0 auto;
  background-color: $color-primary-light-transparent-much;
  padding: 3.2rem 5.2rem;
}

.primary-heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.secondary-heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.tertiary-heading {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.info {
  font-size: 2rem;
  margin-bottom: 3rem;
  line-height: 3rem;
}

.hidden {
  display: none;
}

/*Media query*/

@media (max-width: 87em) {
  .wrapper-container {
    max-width: 120rem;
  }
}

@media (max-width: 78em) {
  html {
    font-size: 56.25%;
  }

  .wrapper-container {
    max-width: 105rem;
  }
}

@media (max-width: 56em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 48em) {
  .primary-heading {
    font-size: 3.6rem;
  }

  .secondary-heading {
    font-size: 2.6rem;
  }

  .tertiary-heading {
    font-size: 2rem;
  }
}

@media (max-width: 38em) {
  .info {
    line-height: 2.6rem;
  }
}

@media (max-width: 28em) {
  html {
    font-size: 42.5%;
  }

  .wrapper {
    padding: 3.2rem 2rem;
  }
}
