$color-primary-dark: #064789;
$color-primary-middle: rgb(66, 122, 161);
$color-primary-lighter: #e7f0f7;
$color-primary-light: rgb(235, 242, 250);
$color-primary-light-transparent: rgba(235, 242, 250, 0.95);
$color-primary-light-transparent-much: rgba(235, 242, 250, 0.85);
$color-primary-middle-lighter: #a1bdd0;
$color-primary-dark-lighter: #cddae7;
$color-primary-dark-darker: #021529;
$color-grey: #444;
$color-grey-dark: #333;
$color-white: #fff;

$icon-color-white: invert(100%) sepia(0%) saturate(7500%) hue-rotate(200deg) brightness(106%) contrast(106%);
$icon-color-disabled: invert(90%) sepia(11%) saturate(36%) hue-rotate(24deg) brightness(92%) contrast(86%);
$icon-color-middle-blue: invert(39%) sepia(76%) saturate(353%) hue-rotate(161deg) brightness(96%) contrast(85%);
$icon-color-dark-blue: invert(17%) sepia(31%) saturate(5667%) hue-rotate(198deg) brightness(97%) contrast(95%);
$icon-color-dark-blue-hover: invert(14%) sepia(82%) saturate(1083%) hue-rotate(179deg) brightness(93%) contrast(101%);

$border-radius-button: 5px;
$border-radius-basic: 8px;
$border-radius-round: 50%;

$box-shadow-navbar: 0rem 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
$box-shadow-small: 0rem 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
$box-shadow-testimonial: 0rem 0.4rem 1.2rem 0.4rem rgba(0, 0, 0, 0.1);
